<!-- notes -->
<p><strong>ACCOUNTABILITY PARTNER</strong></p>
<details>
	<summary>Click here to read more about my experience.</summary>
	<br>
<p>We all have weaknesses.</p>
<p>The worse weaknesses involve low openness, creativity and conscientiousness.</p>
<p>High neuroticism and agreeableness can ruin many of your natural advantages and opportunities.</p>
<p>There would be days when your mind or body would refuse to continue working on your most important goal.</p>
<p>I've experienced different forms of depression and PTSD in the past and have learned to overcome many of the challenges by building systems that keep my mind and body in healthy peak fighting shape.</p>
<p>Having a person to snap you out of your negative states is incredibly valuable as well.</p>
<p>I can function as your source of stability in the chaotic battlefields of your business by speaking truth about your situation.</p>
</details>
<br>