<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Are you ready to take your life and business to the next level? </h2>
                <hr class="light">
                <p class="text-faded">Our expert services will help you gain control over your time and attention by delegating your obligations, boost your marketing efforts and free up your time by letting go of tedious tasks, and empower you to achieve your goals with ease.</p>
                <a href="https://tidycal.com/kevinolega/15-minute-meeting" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>