<!-- notes -->
<p><strong>COMMUNICATIONS MANAGEMENT</strong>
</p>
<p>Effective communication is key to any project's success. As your communications manager, I can streamline your communication by becoming the primary point of contact for all your internal and external communication. This includes email, phone calls, chats, and video conferencing.</p>
<p>I possess native level English skills in speaking, writing, and listening. I can ensure that all communication is clear, concise, and effective.</p>
<p>I am also familiar with several CRM systems such as Hubspot, Salesforce, and Zoho, and have experience with basic CRM related tasks such as data entry, lead generation, and email marketing. I can help you organize your contacts, manage your sales pipeline, and improve your customer engagement.</p>