<!-- notes -->
<p><strong>PROFESSIONAL WRITER</strong></p>
<details>
<summary>Click here to read more about my experience.</summary>
<br>
<p>I'm an experienced writer. I'm confident in my ability to effectively communicate complex ideas and instructions to various team members, utilizing screenshots and screencasts when necessary to ensure clarity. My writing helps technical teams do their best work even when some members have limited communication skills or have trouble expressing themselves.</p>
<p>I have created content tailored to the specific needs and industries of a diverse range of clients throughout my career. My extensive writing experience includes:</p>
<ul>
    <li>Blogging: Crafting engaging, informative, and SEO-friendly blog posts that resonate with readers and drive traffic to websites.</li>
    <li>Social Media: Building a significant following on various platforms by creating captivating and shareable content that encourages audience interaction and brand engagement.</li>
    <li>Copywriting: Developing persuasive and compelling marketing copy for websites, email campaigns, and advertisements to promote products and services.</li>
    <li>Technical Writing: Producing clear, concise, and user-friendly documentation, such as user guides, how-to articles, and instructional manuals for software and technology products.</li>
    <li>Creative Writing: Crafting captivating stories, articles, and other narrative content that entertains, informs, and inspires readers.</li>
</ul>
<p><a href="https://kevinolega.com/writing">Here's a list of different writing clients</a>.</p>
</details>
<br>