<!-- Project Managmennt Summary -->
<p><strong>PROJECT MANAGEMENT</strong></p>
<ul>
	<li>I receive project specifications and information from clients to build websites, apps, and online marketing campaigns.</li>
	<li>I work with clients who are too overwhelmed to make decisions and too busy to answer questions. I make do with the limited information that we have and make it work somehow.</li>
	<li>I work with an international team and many of our team members don’t speak English as a first language. I'm very specific with the way I communicate and provide visual representations of the instructions like screenshots and video.</li>
</ul>
<p>Projects I’ve handled include:</p>
<ul>
	<li><details>
    <summary>Web design and development</summary>
<p>I receive the design and develoment scope from the account manager.</p>
<p>I plan the project and map out the deliverables and delivery dates.</p>
<p>The design gets communicated and prepared by the design team.</p>
<p>The client approves the design.</p>
<p>The development begins work on the design.</p>
<p>I perform QA on the finished product.</p>
<p>The client is happy because the output is everything they wanted in their website.</p>
</details>
</li>

	<li>Web, desktop, and mobile app (iOS and Android) development</li>
	<li>Multimedia production and post production</li>
	<li>Digital assets management<li>
	<li>Digital assets translation</li>
	<li>Systems integration</li>
	<li>Day-to-day operations management and support</li>
	<li>Client relationship management, vendor account management, talent management, customer service and tech support </li>
</ul>