<!-- Project Managmennt Summary -->
<p><strong>PROJECT MANAGEMENT</strong></p>
<ul>
	<li>I receive project specifications and information from clients to build websites, apps, and online marketing campaigns.</li>
	<li>I work with clients who are too overwhelmed to make decisions and too busy to answer questions. I make do with the limited information that we have and make it work somehow.</li>
	<li>I work with an international team and many of our team members don’t speak English as a first language. I'm very specific with the way I communicate and provide visual representations of the instructions like screenshots and video.</li>
</ul>
<p>Projects I’ve handled include:</p>
<ul>
	<li><details>
    <summary><strong>Web design and development</strong></summary>
    <p>Many clients want a website that will properly represent who they are on the interwebs.</p>
	<p>I receive the design and develoment scope from the account manager.</p>
	<p>I plan the project and map out the deliverables and delivery dates.</p>
	<p>The design gets communicated and prepared by the design team.</p>
	<p>The client approves the design.</p>
	<p>The development begins work on the design.</p>
	<p>I perform QA on the finished product.</p>
	<p>The client is happy because the output is everything they wanted in their website.</p>
	</details>
	</li>
	<li><details>
    <summary><strong>Web, desktop, and mobile app (iOS and Android) development</strong></summary>
    <p>An app takes your relationship with clients to the next level giving you the advantage of increased trust and connection via push notification and other app technology.</p>
	<p>Project Planning: We review the scope provided by the account manager and coordinate costs with design and development team.</p>
	<p>Scope gets firmly established and all possible obstacles and potential causes of delay and increased cost gets addressed.</p>
	<p>Copy gets written by our writer or provided by the client.</p>
	<p>Design gets prepared by the design team.</p>
	<p>Development begins.</p>
	<p>I coordinate tasks via the client's preferred project management software.</p>
	<p>I also perform QA tests before submitting the output to the client.</p>
	</details>
	</li>
	<li><details>
    <summary><strong>Multimedia production and post production<</strong></summary>
	<p>Marketing requires captivating words, and the right amount of photos and videos.</p>
	<p>I work with a copywriter, designers, and editors to deliver on the client's marketing media needs.</p>
	</details>
	</li>
	<li><details>
    <summary><strong>Digital assets management</strong></summary>
	<p>Lots of files and folders are created when working on a large project and with a big enough team.</p>
	<p>I make sure that all the files and folders are organized and documented making retrieval effortless for anyone, including C-Level Executives who are not computer savvy.</p>
	<p>All files are saved in a Google Shared Drive or Dropbox and all the files are labeled and documented with quick links in a spreadsheet.</p>
	<p>Tools, passwords, access organized and documented in a password manager or a secure spreadsheet.</p>
	</details>
	<li>
	<li><details>
    <summary>Digital assets translation</summary>
	<p>Client has a best-selling product in the US Market and would like to expand to a Spanish-Speaking Market.</p>
	<p>We review the product along with all the sales and mareketing materials to provide a quotation for the translation and creation.</p>
	<p>I work with top-level translators, voiceover professionals, actors, graphic designers and video editors.</p>
	<li><details>
    <summary>Systems integration</summary>
	<p>Client wants to automate process.</p>
	<p>Do you have several time-consuming manual processes?</p>
	<p>I could direct you to different apps and online solutions to get things to work.</p>
	<p>We can automate adding sales inquiries into a CRM and add prospects to your calendar.</p>
	<p>Since automation and processes vary from company to company, let me know what you'd like to automate and I would recommend the best tools.</p>
	</details></li>

</ul>