<!-- Intro of skills -->
<h3>SKILLS AND EXPERIENCE</h3>
<p>I'm a project manager who understands design, development, and marketing.
<p>I specialize at supporting leaders offload time-consuming and stressful tasks.</p>
<p>I'm a polymath with a unique collection of skills.</p>
<p>Want someone who can do a little bit of everything for you? I'm your man.</p>
<p><a href="https://www.upwork.com/o/profiles/users/_~0173d4ebd3d5f0b659/">Contact me on Upwork</a>.</p>
<p>Hey there! </p>
<p>I'm a <strong>web development project manager</strong> with loads of experience managing remote teams using tools like ClickUp, Asana, Miro, Trello, Basecamp, and Slack. I'm great at breaking down projects into sprints, collaborating with developers, and testing for quality. Oh, and I also know my way around project management best practices and have worked with early-stage startups, so I can help you keep things running smoothly.</p>
<p>But that's not all! I also worked as a <strong>communications VA</strong> who specialize in time management and delegation. I'll set up efficient communication channels for everyone involved and create documentation to streamline processes. I'll learn your routine and build a plan to get rid of repetitive tasks, so you can focus on the important work. Plus, I can handle both personal and business tasks, so you don't have to worry about juggling different projects.</p>
<p>In the past, I worked as a <strong>writer</strong> and I've ghost-written about personal development, finance, productivity, food and travel, online marketing, and sports fitness and nutrition for over 5 years.</p>
<p>I've also got a great track record in <strong>customer service and tech support</strong>, consistently receiving top feedback from customers. Plus, I'm a pro at turning support calls into sales calls.</p>
<p>Finally, with 10 years of experience in <strong>Sales and Marketing</strong>, including 4 years in <strong>Leadership Support and Training</strong>, I'm confident in my ability to help you take your business to the next level, no matter what industry you're in.</p>
<p><a href="https://www.upwork.com/o/profiles/users/_~0173d4ebd3d5f0b659/">Contact me on Upwork</a>.</p>