<!-- notes -->
<p><strong>SOCIAL MEDIA MANAGEMENT</strong></p>
<details>
	<summary>Click here to read more about my experience.</summary>
	<br>
	<p>As a social media manager, I can help you achieve your social media goals by managing and growing your social media pages. I can create and curate content that aligns with your brand's voice and values. I can also analyze your social media performance and make recommendations for improvement.</p>
	<p>My experience in social media marketing includes implementing strategies for various industries such as e-commerce, B2B, and non-profit. I have a deep understanding of different social media platforms such as Facebook, Instagram, Twitter, LinkedIn, and TikTok.</p>
	<p>Speaking of TikTok, I've grown my personal TikTok page to 80,000 followers by creating engaging and shareable content. I also grew my Facebook page to 50,000 followers by building an active community through consistent posting and interaction with followers.</p>
</details>
<br>