<!-- notes -->
<h3>TESTIMONIALS</h3>
<p>TOP RATED UPWORK PROFILE</p>
<p><img src="{{ site.url }}/img/Kevin Upwork Profile.png" width="400"></p>
I became top rated plus in 2022.
<p><img src="{{ site.url }}/img/Kevin-O-2022-top-rated-plus.png" width="400"></p>
<p>CLIENT TESTIMONIALS</p>
<p><img src="{{ site.url }}/img/Testimonial-Long-Term-Moolay-Media.png" width="400"></p>
<p><img src="{{ site.url }}/img/Testimonial-Long-Term-K-Consulting.png" width="400"></p>
<p><img src="{{ site.url }}/img/Testimonial-Long-Term-K-Consulting-2.png" width="400"></p>
OLDER UPWORK TESTIMONIALS
<p><img src="{{ site.url }}/img/Testimonial-Long-Term-Take-Aim.png" width="400"></p>
<p><img src="{{ site.url }}/img/Upwork Testimonials.png" width="400"></p>
