<!-- notes -->
<p><strong>VIRTUAL ASSISTANT</strong></p>
<p>Take a break from being a professional firefighter and make your life more peaceful.</p>
<p>I've helped a variety of executives, leaders, entrepreneurs, and families get their lives back on track.</p>
<p>I do the time-consuming work so you can focus on what matters most.</p>
<p>I can login and pilot your key accounts so you no longer need to login yourself.</p>
<p>I can take charge and cover data entry, scheduling, reminders, emails, and management or any task that you would prefer to not do yourself.</p>
<p>I can also help with basic marketing and technical tasks as well as other random tasks.</p>